.profile-nav {
  @include md {
    width: 200px;
    // padding: 0;
  }
  @include sm {
    width: 200px;
    // padding: 0;
  }
  border-right: 1px solid var(--border-color);
  .nav-links .logout {
    cursor: pointer;
    img {
      width: 35px;
    }
  }
  .profile_content {
    @include md {
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }

    @include sm {
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }
    width: 300px;
  }
}
