.banner {
  @include sm {
    height: 20rem;
  }
  @include md {
    height: 25rem;
  }
  height: 32.5rem;
  background-image: url('../../media/imgs/restaurant.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .reserv {
    bottom: -30px;
    @include xl {
      width: 80%;
    }
    @include lg {
      width: 60%;
      bottom: 5%;
    }

    @include md {
      width: 80%;
      background-color: transparent;
    }
    @include sm {
      border: 1px solid rgb(215, 215, 215);
      bottom: 0;
      width: 95%;
      margin-bottom: 20px;
    }
  }
}
.hidden {
  display: none;
}
