.search {
  @include lg {
    display: flex;
  }
  @include sm {
    padding: 0;
  }
  form {
    @include lg {
      width: 100%;
    }
  }
  box-sizing: border-box;
  .searchContainer {
    @include lg {
      flex-direction: column;
    }
    background-color: var(--white);
    button {
      font-size: 13px;
      @include button($width: 100px, $bgcolor: #007a6c, $color: var(--white));
      @include xl {
        width: 100px;
        font-size: 13px;
      }
    }
    .selectLocation {
      @include lg {
        margin: 0 10px;
      }
      .ant-select-outlined {
        outline: none;
        width: 100%;
      }
      .ant-select-selector {
        border-color: transparent !important;
      }

      .ant-select-selection-item {
        color: var(--primary-color);
        font-weight: 600 !important;
        font-size: 15px;
      }

      .ant-select-selector {
        border-right: 1px solid rgb(215, 215, 215) !important;

        @include lg {
          border: none !important;
        }
      }

      .ant-select-focused .ant-select-selector,
      .ant-select-selector:is(:focus, :active),
      .ant-select-open .ant-select-selector {
        box-shadow: none !important;
      }
    }
    .searchRestaurant {
      padding: 0 10px;
      @include lg {
        flex-direction: column;
      }
      input {
        @include input(15px, gray);
        @include lg {
          text-align: center;
          border-bottom: 1px solid rgb(215, 215, 215);
          border-top: 1px solid rgb(215, 215, 215);
        }
      }
    }
  }
  // .searchRestaurant {
  // input {
  // }
  // }
}

.find-table-btn {
  @include lg {
    width: 100px !important;
    margin-left: 0;
    margin: 10px 0;
  }
  padding: 9px 15px;
  margin-left: 45px;
}
